<div class="container">
  <header>
    <div class="col-md-12">
      <h1>Create Company</h1>
    </div>
  </header>

  <div class="col-md-6">
    <form>
      <div class="form-group has-error">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName">

        <div class="alert alert-error help-block">Lorem ipsum dolor sit amet.</div>
      </div>

      <div class="form-group">
        <label for="companyLogo">Company Logo (url)</label>
        <input type="text" class="form-control" id="companyLogo">
      </div>
      <div class="form-group">
        <label for="companyWebsite">Company homepage</label>
        <input type="url" class="form-control" id="companyWebsite">
      </div>

      <hr>

      <p>Your credentials information:</p>

      <div class="form-group">
        <label for="companyMail">Email</label>
        <input type="email" class="form-control" id="companyMail" placeholder="your@mail.com">
      </div>
      <div class="form-group">
        <label for="companyPassword">Password</label>
        <input type="password" class="form-control" id="companyPassword" placeholder="Your password">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>

</div>
