<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Jobs Finder</title>
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto+Slab:400,700">
    <link rel="stylesheet" href="src/css/style.css">
  </head>
<body>

  <div ui-view='header'></div>
  <ui-view></ui-view>
  <div ui-view='footer'></div>

  <!-- Dependencies -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>

  <!-- Core -->
  <script src="src/js/app.js"></script>
  <script src="src/js/app.config.js"></script>
  <script src="src/js/app.run.js"></script>
  <script src="src/js/app.route.js"></script>

  <!-- Services -->
  <script src="src/js/companies/companyService.js"></script>
  <script src="src/js/jobs/jobService.js"></script>
  <script src="src/js/auth/TokenHandlerService.js"></script>
  <script src="src/js/auth/AuthService.js"></script>
  <script src="src/js/auth/httpInterceptorService.js"></script>

  <!-- Controllers -->
  <script src="src/js/home/homeController.js"></script>
  <script src="src/js/jobs/jobsController.js"></script>
  <script src="src/js/companies/companyController.js"></script>
  <script src="src/js/companies/createCompanyController.js"></script>
  <script src="src/js/auth/LoginController.js"></script>
  <script src="src/js/jobs/PostJobController.js"></script>

</body>
</html>
