<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jobs Finder</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto+Slab:400,700">
  <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="text-center"><a href="index.html">Job Finder</a></h1>
    </div>
  </header>

  <div class="container-fluid">
    <section class="col-sm-3 filters aside-filters">
      <div class="filter-label">
        <h4>Estou procurando:</h4>
      </div>
      <div class="filter-list">
        <ul>
          <li class="item">
            <input type="checkbox" name="job" id="job">
            <label for="job"> Emprego</label>
            <span class="badge">42</span></li>
          <li class="item">
            <input type="checkbox" name="intern" id="intern">
            <label for="intern"> Estágio</label>
            <span class="badge">42</span></li>
          <li class="item">
            <input type="checkbox" name="freela" id="freela">
            <label for="freela">Freela</label>
            <span class="badge">42</span></li>
        </ul>
      </div>
      <a href="#" class="btn btn-primary btn-block">Search</a>
    </section>

    <sections class="col-sm-9 jobs">
      <div class="col-sm-12 jobs-label">
        <h3>Jobs List</h3>
      </div>
      <div class="jobs-list">
       <ul>
          <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> São Paulo
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
          <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Campinas
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
          <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Remoto
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
          <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
         <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
         <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
         <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
         <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
         <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
         <li class="col-xs-12 item">
            <div class="col-sm-1 col-xs-3">
              <img src="http://placehold.it/100" alt="company name">
            </div>
            <div class="col-sm-8 col-xs-9 info">
              <h4>Job name</h4>
              Company name
            </div>
            <div class="col-sm-2 col-xs-9 place">
              <h4>Emprego</h4>
              <span class="glyphicon glyphicon-globe"></span> Rio de Janeiro
            </div>
            <div class="col-sm-1 col-xs-3 date text-center">
              NOV <br>
              3
            </div>
         </li>
        </ul>
      </div>

      <div class="clearfix"></div>

      <a href="#" class="btn btn-primary">Load more</a>
    </sections>
  </div>
</body>
</html>
