<div class="container">
  <header>
    <div class="col-md-8">
      <h1> {{ vm.company.name }} </h1>
    </div>

    <div class="col-md-4 company-logo">
      <img ng-src=" {{ vm.company.companyLogo }} " alt="{{ vm.company.name }}">
      <p>O</p>
    </div>

    <div class="col-md-12">
      <p><a ng-href="{{ vm.company.website }}" target="_blank">{{ vm.company.website }}</a></p>
    </div>
  </header>

  <pre>
    {{ vm.company | json }}
  </pre>
  <div class="clearfix"></div>

  <div class="jobs-list">
     <ul>
        <li class="col-xs-12 item" ng-repeat="job in vm.company.jobs">

          <div class="col-sm-1 hidden-xs company-logo">
            <img ng-src="{{ vm.company.companyLogo }}" alt="{{vm.company.name}} ">
            <p>O</p>
          </div>

          <div class="col-sm-4 col-xs-7 info">
            <h4>{{job.name}}</h4>
            <a href="#">{{vm.company.name}}</a>
          </div>

          <div class="col-sm-4 hidden-xs tags">
            <ul class="default-list tag-list">
              <li class="tag">
                <span>tag</span>
              </li>
              <li class="tag">
                <span>tag</span>
              </li>
            </ul>
          </div>

          <div class="col-sm-2 col-xs-3 place">
            <h4>Full Time</h4>
            <span class="glyphicon glyphicon-globe"></span> São Paulo
          </div>

          <div class="col-sm-1 col-xs-2 date text-center">
            FEB<br>
            3
          </div>
       </li>
      </ul>
    </div>

</div>
