<div class="container">
  <header>
    <div class="col-md-12">
      <h1>Create Company</h1>
    </div>
  </header>

  <div class="col-md-6">
    <form name="createCompany" novalidate ng-submit="vm.submitCompany()">
      <div class="form-group" ng-class="{ 'has-error' : createCompany.companyName.$invalid && createCompany.companyName.$dirty}">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" name="companyName" ng-model="vm.company.name" required>

        <div class="alert alert-error help-block" ng-if="createCompany.companyName.$invalid && createCompany.companyName.$dirty">Lorem ipsum dolor sit amet.</div>
      </div>

      <div class="form-group">
        <label for="companyLogo">Company Logo (url)</label>
        <input type="text" class="form-control" id="companyLogo" ng-model="vm.company.companyLogo">
      </div>
      <div class="form-group">
        <label for="companyWebsite">Company homepage</label>
        <input type="url" class="form-control" id="companyWebsite" ng-model="vm.company.website">
      </div>

      <hr>

      <p>Your credentials information:</p>

      <div class="form-group">
        <label for="companyMail">Email</label>
        <input type="email" class="form-control" id="companyMail" placeholder="your@mail.com" ng-model="vm.company.email" required>
      </div>
      <div class="form-group">
        <label for="companyPassword">Password</label>
        <input type="password" class="form-control" id="companyPassword" name="companyPassword" placeholder="Your password" ng-model="vm.company.password" ng-minlength="6" required>
      </div>
      <div class="alert alert-error help-block" ng-if="createCompany.companyPassword.$invalid && createCompany.$dirty">Lorem ipsum dolor sit amet.</div>
      <button type="submit" class="btn btn-primary" ng-disabled="createCompany.$invalid || vm.isLocked">Sign up</button>
    </form>
  </div>

</div>

<div ng-include="'/src/views/footer.html'"></div>
