<div class="container">
  <header>
    <div class="col-md-12 text-center">
      <h1>Login</h1>
    </div>
  </header>

  <div class="col-md-4 col-md-offset-4">
    <form name="loginForm" novalidate ng-submit="vm.loginAction()">
      <div class="form-group">
        <label for="companyMail">Email</label>
        <input type="email" class="form-control" id="companyMail" ng-model="vm.login.email" placeholder="your@mail.com">
      </div>
      <div class="form-group">
        <label for="companyPassword">Password</label>
        <input type="password" class="form-control" id="companyPassword" ng-model="vm.login.password" placeholder="Your password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
      <hr>
      <p class="text-center">OR</p>
      <a ui-sref="new-company" class="btn btn-success btn-block">Sign up</a>
    </form>
  </div>

</div>
